.md-container {
  max-width: 800px;
  padding-top: 2rem;
}

.sml-card {
  width: 22rem;
  margin: 1rem 0;
}

.cntr-footer {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.sml-logo {
  height: 1em;
  margin-left: 10px;
}

.rotate {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.rotate:hover {
  transform: rotate(-90deg);
}

.navbarStockfinder {
  background: 'linear-gradient(-45deg, #66a6ff 10%, #003366 90%)';

}